name: CI/CD pipeline

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 8 * * 6" # every Saturday at 8:00 UTC
  workflow_dispatch:

env:
  HUSKY: 0
  NODE_VERSION: "24"
  BUILD_ARTIFACT_NAME: "test-data-generator-build-output"
  BUILD_ARTIFACT_FOLDER: "dist/test-data-generator"

jobs:
  # Check linting and formatting
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Linting
        run: npx oxlint --deny-warnings

      - name: Check formatting
        run: npx prettier --check .

  # Build the project
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Clean-up of the output directory for build
        run: npm run clean

      - name: Build the project
        run: npm run build

      - name: Upload build artifact
        if: github.ref == 'refs/heads/main' # build artifact is only needed for deployment
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: ${{ env.BUILD_ARTIFACT_NAME }}
          path: ${{ env.BUILD_ARTIFACT_FOLDER }}
          if-no-files-found: "error"
          retention-days: 1

  # Run unit tests
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test

  # Run end-to-end tests with Playwright
  e2e:
    needs:
      - static-analysis
      - build
      - test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Clean-up of the test results
        run: npm run clean

      - name: Install browsers and dependencies for Playwright
        run: npx playwright install --with-deps

      - name: Run E2E tests
        run: npm run e2e

      - name: Upload Playwright results
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: playwright-results
          path: test-results/
          retention-days: 7

  # Deploy to GitHub Pages
  deploy-gh-pages:
    needs:
      - e2e
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    concurrency:
      group: deploy_gh_pages
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Download build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: ${{ env.BUILD_ARTIFACT_NAME }}
          path: ${{ env.BUILD_ARTIFACT_FOLDER }}

      - name: List downloaded artifact files
        run: |
          echo "Contents of ${{ env.BUILD_ARTIFACT_FOLDER }}:"
          ls -R "${{ env.BUILD_ARTIFACT_FOLDER }}"

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 #v4.7.4
        with:
          folder: ${{ env.BUILD_ARTIFACT_FOLDER }}

  # Deploy to Cloudflare Pages
  deploy-cf-pages:
    needs:
      - e2e
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    concurrency:
      group: deploy_cf_pages
    env:
      HOOK_ID: ${{ secrets.CLOUDFLARE_DEPLOY_HOOK_ID }}
    steps:
      - name: Trigger deployment to Cloudflare Pages
        run: |
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" -d "" "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${HOOK_ID}")
          echo "HTTP response status: $STATUS"
          if [ "$STATUS" -ne 200 ]; then
            echo "Deployment trigger failed!"
            exit 1
          fi
